#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Edge: The Web Ruler
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=njlkegdphefeellhaongiopcfgcinikh
Icon=chrome-njlkegdphefeellhaongiopcfgcinikh-Default
StartupWMClass=crx_njlkegdphefeellhaongiopcfgcinikh
