[Desktop Entry]
Icon=text-html
Name=6-exercicis.html
Type=Link
URL[$e]=https://ggpro-java.github.io/UF4-fRcm3wHyfk2FQFp86GHV/ca/6-exercicis.html
X-KDE-LastOpenedWith=firefox
