[Desktop Entry]
Icon=image-svg+xml
Name=autonomic.svg
Type=Link
URL[$e]=file:$HOME/Imatges/autonomic.svg
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
