[Desktop Entry]
Icon=application-pdf
Name=M1T1 - Fase I Plantilla Acompanyament - CEED.pdf
Type=Link
URL[$e]=file:$HOME/Baixades/M1T1 - Fase I Plantilla Acompanyament - CEED.pdf
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
