[Desktop Entry]
Icon=image-png
Name=maria.png
Type=Link
URL[$e]=file:$HOME/Baixades/maria.png
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
