[Desktop Entry]
Icon=image-jpeg
Name=Sergio.jpg
Type=Link
URL[$e]=file:$HOME/Baixades/Sergio.jpg
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
